body{
font-family: Arial;
margin:0;
background:#0F172A;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
}

nav a{
margin-left:20px;
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:120px 20px;
}

.cta{
padding:12px 30px;
font-size:18px;
background:#00C9A7;
border:none;
border-radius:8px;
cursor:pointer;
}

.features{
display:flex;
justify-content:center;
gap:40px;
padding:60px;
}

.card{
background:#1E293B;
padding:30px;
border-radius:10px;
width:220px;
text-align:center;
}